In [117]:
### Start from after Onehotencoder

import pandas as pd
import numpy as np

In [118]:
df = pd.read_csv("housing.csv")

In [119]:
df["income_cat"] = pd.cut(df["median_income"], bins=[0, 1.5, 3.0, 4.5, 6.0, np.inf], labels = [1, 2, 3, 4, 5])

In [120]:
from sklearn.model_selection import StratifiedShuffleSplit

split = StratifiedShuffleSplit(n_splits = 1, test_size = 0.3, random_state = 42) # 'random_state' is seed

for train_index, test_index in split.split(df, df['income_cat']):
    strat_train_set = df.loc[train_index]
    strat_test_set = df.loc[test_index]

In [121]:
for sett in (strat_train_set, strat_test_set):
    sett.drop("income_cat", axis=1, inplace=True)

In [122]:
df  = strat_train_set.copy()
df

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
8577,-118.41,33.89,31.0,1428.0,320.0,677.0,331.0,7.2316,500001.0,<1H OCEAN
5960,-117.83,34.11,29.0,2671.0,437.0,1484.0,445.0,4.9844,203000.0,INLAND
4753,-118.33,34.04,31.0,1090.0,251.0,955.0,239.0,2.9130,192500.0,<1H OCEAN
15423,-117.26,33.20,13.0,3163.0,725.0,1675.0,629.0,2.8214,121900.0,<1H OCEAN
9788,-120.51,35.91,39.0,768.0,162.0,264.0,118.0,5.3245,250000.0,INLAND
...,...,...,...,...,...,...,...,...,...,...
13602,-117.25,34.15,30.0,1770.0,380.0,990.0,348.0,3.3000,97600.0,INLAND
14693,-117.11,32.79,16.0,1791.0,518.0,1006.0,491.0,3.5179,129300.0,NEAR OCEAN
15591,-116.34,33.36,24.0,2746.0,514.0,731.0,295.0,3.3214,176400.0,INLAND
5676,-118.29,33.71,36.0,3135.0,746.0,1815.0,697.0,3.7596,300000.0,NEAR OCEAN
7730,-118.13,33.92,36.0,984.0,183.0,615.0,206.0,4.1786,201500.0,<1H OCEAN

In [123]:
housing = df.drop(["median_house_value"], axis=1)
housing_labels = df["median_house_value"].copy()

In [124]:
### Fillling  null data by Scikit Learn -

from sklearn.impute import SimpleImputer

imputer = SimpleImputer(strategy = "most_frequent") # Only for numbers not strings
                                ### Other available strategies:
                                
                                # 1."mean" – replaces with mean value
                                # 2."most_frequent" – for the most common value (can handle categorical)
                                # 3."constant" – fill with a fixed value using * fill_value =...

housing_num = housing.select_dtypes(include = [np.number, 'object'])

In [125]:
imputer.fit(housing_num) # fit the data in model

SimpleImputer(strategy='most_frequent')

In [126]:
x = imputer.transform(housing_num)
x

array([[-118.41, 33.89, 31.0, ..., 331.0, 7.2316, '<1H OCEAN'],
       [-117.83, 34.11, 29.0, ..., 445.0, 4.9844, 'INLAND'],
       [-118.33, 34.04, 31.0, ..., 239.0, 2.913, '<1H OCEAN'],
       ...,
       [-116.34, 33.36, 24.0, ..., 295.0, 3.3214, 'INLAND'],
       [-118.29, 33.71, 36.0, ..., 697.0, 3.7596, 'NEAR OCEAN'],
       [-118.13, 33.92, 36.0, ..., 206.0, 4.1786, '<1H OCEAN']],
      dtype=object)

In [127]:
housing = pd.DataFrame(x, columns = housing_num.columns, index = housing_num.index)
housing

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,ocean_proximity
8577,-118.41,33.89,31.0,1428.0,320.0,677.0,331.0,7.2316,<1H OCEAN
5960,-117.83,34.11,29.0,2671.0,437.0,1484.0,445.0,4.9844,INLAND
4753,-118.33,34.04,31.0,1090.0,251.0,955.0,239.0,2.913,<1H OCEAN
15423,-117.26,33.2,13.0,3163.0,725.0,1675.0,629.0,2.8214,<1H OCEAN
9788,-120.51,35.91,39.0,768.0,162.0,264.0,118.0,5.3245,INLAND
...,...,...,...,...,...,...,...,...,...
13602,-117.25,34.15,30.0,1770.0,380.0,990.0,348.0,3.3,INLAND
14693,-117.11,32.79,16.0,1791.0,518.0,1006.0,491.0,3.5179,NEAR OCEAN
15591,-116.34,33.36,24.0,2746.0,514.0,731.0,295.0,3.3214,INLAND
5676,-118.29,33.71,36.0,3135.0,746.0,1815.0,697.0,3.7596,NEAR OCEAN
7730,-118.13,33.92,36.0,984.0,183.0,615.0,206.0,4.1786,<1H OCEAN

In [128]:
housing['ocean_proximity']  = df['ocean_proximity']

In [129]:
housing = housing[['ocean_proximity']]
housing

      ocean_proximity
8577        <1H OCEAN
5960           INLAND
4753        <1H OCEAN
15423       <1H OCEAN
9788           INLAND
...               ...
13602          INLAND
14693      NEAR OCEAN
15591          INLAND
5676       NEAR OCEAN
7730        <1H OCEAN

[14448 rows x 1 columns]

In [130]:
set(housing['ocean_proximity'])

{'<1H OCEAN', 'INLAND', 'ISLAND', 'NEAR BAY', 'NEAR OCEAN'}

In [131]:
from sklearn.preprocessing import OrdinalEncoder

# Using the library "OrdinalEncoder"
ordinal_encoder = OrdinalEncoder()
housing_cat = ordinal_encoder.fit_transform(housing)

In [132]:
housing_cat = pd.DataFrame(housing_cat, columns=housing.columns, index=housing.index)

In [133]:
housing_cat

       ocean_proximity
8577               0.0
5960               1.0
4753               0.0
15423              0.0
9788               1.0
...                ...
13602              1.0
14693              4.0
15591              1.0
5676               4.0
7730               0.0

[14448 rows x 1 columns]

In [134]:
# But still not making any sense

In [135]:
set(housing['ocean_proximity'])

{'<1H OCEAN', 'INLAND', 'ISLAND', 'NEAR BAY', 'NEAR OCEAN'}

In [136]:
from sklearn.preprocessing import OneHotEncoder

# Using the library "OneHotEncoder"
onehot_encoder = OneHotEncoder()
housing_cat = onehot_encoder.fit_transform(housing)
col = onehot_encoder.categories_
col

[array(['<1H OCEAN', 'INLAND', 'ISLAND', 'NEAR BAY', 'NEAR OCEAN'],
       dtype=object)]

In [137]:
housing_cat = pd.DataFrame(housing_cat.toarray(), columns = ['<1H OCEAN', 'INLAND', 'ISLAND', 'NEAR BAY', 'NEAR OCEAN'], index = housing.index)

In [138]:
housing_cat

       <1H OCEAN  INLAND  ISLAND  NEAR BAY  NEAR OCEAN
8577         1.0     0.0     0.0       0.0         0.0
5960         0.0     1.0     0.0       0.0         0.0
4753         1.0     0.0     0.0       0.0         0.0
15423        1.0     0.0     0.0       0.0         0.0
9788         0.0     1.0     0.0       0.0         0.0
...          ...     ...     ...       ...         ...
13602        0.0     1.0     0.0       0.0         0.0
14693        0.0     0.0     0.0       0.0         1.0
15591        0.0     1.0     0.0       0.0         0.0
5676         0.0     0.0     0.0       0.0         1.0
7730         1.0     0.0     0.0       0.0         0.0

[14448 rows x 5 columns]

In [139]:
### Start from here

df = pd.concat([df, housing_cat], axis=1)
df

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity,<1H OCEAN,INLAND,ISLAND,NEAR BAY,NEAR OCEAN
8577,-118.41,33.89,31.0,1428.0,320.0,677.0,331.0,7.2316,500001.0,<1H OCEAN,1.0,0.0,0.0,0.0,0.0
5960,-117.83,34.11,29.0,2671.0,437.0,1484.0,445.0,4.9844,203000.0,INLAND,0.0,1.0,0.0,0.0,0.0
4753,-118.33,34.04,31.0,1090.0,251.0,955.0,239.0,2.9130,192500.0,<1H OCEAN,1.0,0.0,0.0,0.0,0.0
15423,-117.26,33.20,13.0,3163.0,725.0,1675.0,629.0,2.8214,121900.0,<1H OCEAN,1.0,0.0,0.0,0.0,0.0
9788,-120.51,35.91,39.0,768.0,162.0,264.0,118.0,5.3245,250000.0,INLAND,0.0,1.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13602,-117.25,34.15,30.0,1770.0,380.0,990.0,348.0,3.3000,97600.0,INLAND,0.0,1.0,0.0,0.0,0.0
14693,-117.11,32.79,16.0,1791.0,518.0,1006.0,491.0,3.5179,129300.0,NEAR OCEAN,0.0,0.0,0.0,0.0,1.0
15591,-116.34,33.36,24.0,2746.0,514.0,731.0,295.0,3.3214,176400.0,INLAND,0.0,1.0,0.0,0.0,0.0
5676,-118.29,33.71,36.0,3135.0,746.0,1815.0,697.0,3.7596,300000.0,NEAR OCEAN,0.0,0.0,0.0,0.0,1.0
7730,-118.13,33.92,36.0,984.0,183.0,615.0,206.0,4.1786,201500.0,<1H OCEAN,1.0,0.0,0.0,0.0,0.0

In [143]:
df = df.drop('ocean_proximity', axis=1)
df

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,<1H OCEAN,INLAND,ISLAND,NEAR BAY,NEAR OCEAN
8577,-118.41,33.89,31.0,1428.0,320.0,677.0,331.0,7.2316,500001.0,1.0,0.0,0.0,0.0,0.0
5960,-117.83,34.11,29.0,2671.0,437.0,1484.0,445.0,4.9844,203000.0,0.0,1.0,0.0,0.0,0.0
4753,-118.33,34.04,31.0,1090.0,251.0,955.0,239.0,2.9130,192500.0,1.0,0.0,0.0,0.0,0.0
15423,-117.26,33.20,13.0,3163.0,725.0,1675.0,629.0,2.8214,121900.0,1.0,0.0,0.0,0.0,0.0
9788,-120.51,35.91,39.0,768.0,162.0,264.0,118.0,5.3245,250000.0,0.0,1.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13602,-117.25,34.15,30.0,1770.0,380.0,990.0,348.0,3.3000,97600.0,0.0,1.0,0.0,0.0,0.0
14693,-117.11,32.79,16.0,1791.0,518.0,1006.0,491.0,3.5179,129300.0,0.0,0.0,0.0,0.0,1.0
15591,-116.34,33.36,24.0,2746.0,514.0,731.0,295.0,3.3214,176400.0,0.0,1.0,0.0,0.0,0.0
5676,-118.29,33.71,36.0,3135.0,746.0,1815.0,697.0,3.7596,300000.0,0.0,0.0,0.0,0.0,1.0
7730,-118.13,33.92,36.0,984.0,183.0,615.0,206.0,4.1786,201500.0,1.0,0.0,0.0,0.0,0.0

In [148]:
## MinMaxScaling - 
# scaled_value = (x - min) / (max - min)

# Example:
# If “age” goes from 18 to 90, and “salary” goes from 20,000 to 200,000 — 
# salary would be much bigger in value and could dominate the math. 
# Min-Max scaling makes them both fit into [0, 1], keeping them fair.

from sklearn.preprocessing import MinMaxScaler

scaler = MinMaxScaler(feature_range=(-1, 1)) # Adding **(feature_range(-1, 1))
df_scaled = scaler.fit_transform(df) # Fitting
df_scaled = pd.DataFrame(df_scaled, columns =df.columns, index = df.index) # Printing
df_scaled

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,<1H OCEAN,INLAND,ISLAND,NEAR BAY,NEAR OCEAN
8577,0.179179,-0.713981,0.176471,-0.925022,-0.883708,-0.962219,-0.873144,-0.071502,1.000000,1.0,-1.0,-1.0,-1.0,-1.0
5960,0.295295,-0.667022,0.098039,-0.859482,-0.840922,-0.916982,-0.829188,-0.381457,-0.224741,-1.0,1.0,-1.0,-1.0,-1.0
4753,0.195195,-0.681964,0.176471,-0.942844,-0.908941,-0.946635,-0.908618,-0.667163,-0.268040,1.0,-1.0,-1.0,-1.0,-1.0
15423,0.409409,-0.861259,-0.529412,-0.833540,-0.735601,-0.906275,-0.758242,-0.679798,-0.559173,1.0,-1.0,-1.0,-1.0,-1.0
9788,-0.241241,-0.282818,0.490196,-0.959822,-0.941488,-0.985370,-0.955273,-0.334547,-0.030928,-1.0,1.0,-1.0,-1.0,-1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13602,0.411411,-0.658485,0.137255,-0.906989,-0.861766,-0.944673,-0.866590,-0.613785,-0.659379,-1.0,1.0,-1.0,-1.0,-1.0
14693,0.439439,-0.948773,-0.411765,-0.905882,-0.811300,-0.943776,-0.811452,-0.583730,-0.528658,-1.0,-1.0,-1.0,-1.0,1.0
15591,0.593594,-0.827108,-0.098039,-0.855527,-0.812763,-0.959192,-0.887025,-0.610833,-0.334432,-1.0,1.0,-1.0,-1.0,-1.0
5676,0.203203,-0.752401,0.372549,-0.835016,-0.727921,-0.898428,-0.732022,-0.550392,0.175257,-1.0,-1.0,-1.0,-1.0,1.0
7730,0.235235,-0.707577,0.372549,-0.948433,-0.933809,-0.965694,-0.921342,-0.492600,-0.230927,1.0,-1.0,-1.0,-1.0,-1.0

In [150]:
## StandardScaling - 
# standardized_value = (x - mean) / std

from sklearn.preprocessing import StandardScaler

scaler = StandardScaler() # Adding 
df_scaled = scaler.fit_transform(df) # Fitting
df_scaled = pd.DataFrame(df_scaled, columns =df.columns, index = df.index) # Printing
df_scaled

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,<1H OCEAN,INLAND,ISLAND,NEAR BAY,NEAR OCEAN
8577,0.580737,-0.817622,0.179523,-0.557719,-0.516567,-0.660689,-0.436930,1.773271,2.534374,1.124376,-0.681051,-0.011766,-0.360045,-0.380710
5960,0.870283,-0.714454,0.020470,0.027011,-0.233167,0.063183,-0.133760,0.586744,-0.035857,-0.889382,1.468320,-0.011766,-0.360045,-0.380710
4753,0.620674,-0.747280,0.179523,-0.716720,-0.683700,-0.411325,-0.681593,-0.506961,-0.126724,1.124376,-0.681051,-0.011766,-0.360045,-0.380710
15423,1.154837,-1.141197,-1.251947,0.258457,0.464432,0.234509,0.355567,-0.555326,-0.737693,1.124376,-0.681051,-0.011766,-0.360045,-0.380710
9788,-0.467620,0.129653,0.815731,-0.868195,-0.899277,-1.031146,-1.003379,0.766318,0.370878,-0.889382,1.468320,-0.011766,-0.360045,-0.380710
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13602,1.159830,-0.695696,0.099997,-0.396836,-0.371233,-0.379931,-0.391720,-0.302624,-0.947984,-0.889382,1.468320,-0.011766,-0.360045,-0.380710
14693,1.229720,-1.333466,-1.013369,-0.386957,-0.036967,-0.365579,-0.011428,-0.187572,-0.673653,-0.889382,-0.681051,-0.011766,-0.360045,2.626671
15591,1.614118,-1.066165,-0.377160,0.062293,-0.046656,-0.612251,-0.532668,-0.291324,-0.266052,-0.889382,1.468320,-0.011766,-0.360045,-0.380710
5676,0.640643,-0.902033,0.577153,0.245285,0.515299,0.360088,0.536406,-0.059954,0.803576,-0.889382,-0.681051,-0.011766,-0.360045,2.626671
7730,0.720518,-0.803554,0.577153,-0.766585,-0.848411,-0.716302,-0.769353,0.161279,-0.048838,1.124376,-0.681051,-0.011766,-0.360045,-0.380710