In [8]:
import pandas as pd

In [9]:
s1 = pd.Series([67, 78, 56, 89,67, 87])
s1

0    67
1    78
2    56
3    89
4    67
5    87
dtype: int64

In [10]:
s2 = pd.Series([76, 78, 90, 78, 87, 99], index = ["Mayur", "Suraj", "Varun", "Vishwas", "Sohel", "Soham"]) # By using the indexing
s2

Mayur      76
Suraj      78
Varun      90
Vishwas    78
Sohel      87
Soham      99
dtype: int64

In [11]:
# DataFrame in Pandas

data = {
    "name": ["Alice", "Bob", "Charlie", "Mayur"],
    "age": [25, 30, 35, 21],
    "city": ["Delhi", "Mumbai", "Bangalore", "Solapur"]
}                                                           # It is an dict

In [14]:
df = pd.DataFrame(data, index = [1, 2, 3, 4]) # We can even add index what we want to start from
print(df)

      name  age       city
1    Alice   25      Delhi
2      Bob   30     Mumbai
3  Charlie   35  Bangalore
4    Mayur   21    Solapur